// import variables
@import './variables';

// declare variables
$bg: 'bg';
$bg-card: 'bg-card';
$title: 'title';
$text: 'text';
$accent: 'accent';
$accent-hover: 'accent-hover';

// declare themes
$themes: (
  light: (
    bg: $bg--light,
    bg-card: $bg-card--light,
    title: $title--light,
    text: $text--light,
    accent: $accent--light,
    accent-hover: $accent-hover--light,
  ),
  dark: (
    bg: $bg--dark,
    bg-card: $bg-card--dark,
    title: $title--dark,
    text: $text--dark,
    accent: $accent--dark,
    accent-hover: $accent-hover--dark,
  ),
);

// define mixin
@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}