// import variables
@import './variables.scss';

// styles
section.content {
  max-width: 650px;
  margin: 50px auto;
  background: #fff;
  padding: 40px;
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

h1.title {
  display: flex;
  align-items: flex-end;
}

span.logo {
  margin: 0 0 -2px 10px;
}

p.infoline {
  font-size: 18px;
  line-height: 1.6;
}

a.button {
  display: inline-block;
  background: $accent;
  padding: 12px 30px;
  color: #fff;
  box-shadow: 1px 2px 4px rgba(0,0,0,.1);
  border: 2px solid $accent;
  margin: 0 10px 0 0;
  &:last-child {
    margin: 0;
  }
  &:hover,
  &:focus {
    background: lighten($accent, 10%);
  }
  &.button_outline {
    background: transparent;
    color: $accent;
    box-shadow: 0 0 0 transparent;
    &:hover,
    &:focus {
      border-color: lighten($accent, 10%);
      color: lighten($accent, 10%);
    }
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(lightblue, .9);
  }
}

.no_margin {
  margin: 0;
}

@media screen and (max-width: 600px) {
  section.content {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
  }

  h1.title {
    justify-content: center;
  }
  
  a.button {
    display: block;
    margin: 0 0 10px;
  }

  p.infoline {
    font-size: 16px;
  }
}