// variables

// color variables, depending on color scheme
$bg--light: #f2f2f2;
$bg-card--light: #ffffff;
$title--light: #454545;
$text--light: #232323;
$border--light: #dddddd;
$accent--light: #003162;
$accent-hover--light: #0b4a89;

$bg--dark: #232323;
$bg-card--dark: #121212;
$title--dark: #ddd;
$text--dark: #eee;
$border--dark: #aaaaaa;
$accent--dark: #1775e1;
$accent-hover--dark: #4b9fff;

// other variables
$font: 'Karla', sans-serif;