// code

ul.code_block {
  margin: 0;
  padding: 20px 0;
  text-align: left;
  @include themed() {
    border-left: 1px solid t($border);
  }
}

li.code_item {
  list-style: none;
  padding-left: 20%;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
  position: relative;
  line-height: 20px;
  @include themed() {
    color: t($title);
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: calc(20% - 5px);
    @include themed() {
      background: t($border);
    }
  }
  &.inline_item,
  &.double_inline_item {
    font-weight: 400;
    padding-left: 25%;
    margin-bottom: 8px;
    @include themed() {
      color: rgba(t($title), 0.7);
    }
    &:first-child {
      margin-top: 8px;
    }
    &::before {
      width: calc(25% - 5px);
    }
  }
  &.double_inline_item {
    padding-left: 30%;
    &::before {
      width: calc(30% - 5px);
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}