// import themes
@import './color-themes.scss';

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// body styles
body {
  @include themed() {
    background: t($bg);
    color: t($text);  
  }
  margin: 0;
  padding: 0 20px;
  font: {
    family: $font;
    size: 14px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// text
h1 {
  font-size: 2rem;
  margin: 0 0 30px;
  @include themed() {
    color: t($accent);
  }
}

p {
  margin: 0 0 30px;
}

@media screen and (max-width: 600px) {
  h1 {
    margin: 0 0 20px;
    font-size: 1.7rem;
  }
  
  p {
    margin: 0 0 20px;
  }
}

// import other stylesheets
@import './content.module.scss';
@import './footer.module.scss';
@import './code.module.scss';